
#parent-div {
    text-align: center;
    width: 50%;
}

.text-display {
    grid-column: 1 / -1;
}

.btn-item {
    font-size: 3rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 20%;
    box-shadow: inset;

}

.num-key {
    background-color: moccasin;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(4, 100px);
}

.equal-to-sign {
    grid-column: 1 / -1;
}